@font-face {
	font-family: 'Inter-Bold'; 
	src: url(assets/fonts/static/Inter-Bold.ttf); 
}

@font-face {
	font-family: 'Inter-Regular'; 
	src: url(assets/fonts/static/Inter-Regular.ttf); 
}

@font-face {
	font-family: 'Inter-Semibold';
	src: url(assets/fonts/static/Inter-SemiBold.ttf); 
}

html {
    font-family: 'Inter-Regular';
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);

}

.main  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 670px;
}

.container {
    background-color: hsl(0, 0%, 12%);
    margin: auto;
    height: 500px;
    width: 350px;
    border-radius: 3%;
    
}

.name {
    font-family: Inter-Semibold;
    font-size: 20px;
    font-weight: 400;
}

.city {
    padding-top: 8px;
    color: hsl(75, 94%, 57%);
    font-family: Inter-Semibold;
    font-size: 12px;
    font-weight: 600;
}

.job {
   padding-top: 20px;
   font-family: Inter-Regular;
   font-size: 12px;
}


li {
    list-style-type: none;

}

ul {
    padding-left: 0;
    margin-top: 20px;
}

.icon {
    margin-top: -20px;
}

.icon-img {
    border-radius: 50%;
    transform: scale(0.5);
}

.descriptio {
    margin-top: -30px;
}

.link-item {
  display: inline-block;
  width: 280px;
  height: 40px;
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  border: none;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: 0.3s;
}

.link-item:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

@media(max-width: 480px) {
    .main {
       display: flex;
       align-items: center;
       justify-content: center; 
       padding-top: 10px;
    }
}